<h2>メモ編集</h2>
<form action="/<%= @memo[:id] %>/update" method="post">
  <label for="title">タイトル:</label><br>
  <input type="text" id="title" name="title" value="<%= escape_html(@memo[:title]) %>"><br>
  <label for="content">内容:</label><br>
  <textarea id="content" name="content"><%= escape_html(@memo[:content]) %></textarea><br>
  <input type="hidden" name="_method" value="patch">
  <input type="submit" name="submit" value="変更する">
</form>
