<h2>メモ追加</h2>
<form action="/create" method="post">
  <label for="title">タイトル:</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="content">内容:</label><br>
  <textarea id="content" name="content"></textarea><br>
  <input type="submit" value="保存する">
</form>
